<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>
<body>



<table border="1" style="width:300px">
    <tr>
        <th>product_id</th>
        <th>Название товара</th>
        <th>Цена товара</th>
    </tr>
    <tr th:each="line : ${tab_lines}">
        <td><a th:href="@{/productinfo(id = ${line.id})}"> <span th:text="${line.id}"/> </a></td>
        <td><span th:text="${line.name}"/></td>
        <td><span th:text="${line.price}"/></td>
        <td><a th:href="@{/delete(id = ${line.id})}"> Удалить </a></td>
    </tr>

</table>
<br>
<!--<form action="/save" method="post"><button>Добавить товар</button></form>-->
<form action="/add" method="get">
    <input name="prodname" placeholder="Введите наименование"  required>
    <br>
    <input name="price" placeholder="Введите цену" required>
    <br>
    <input type="submit" value="Добавить товар">
</form>
</body>
</html>